<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scholarship.mapper.StudentMapper">
    <select id="getStudents" resultType="com.scholarship.entity.Student">
        SELECT * FROM students where is_deleted = false LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="getTotalStudents" resultType="int">
        SELECT COUNT(*) FROM students
    </select>

    <insert id="addStudent">
        INSERT INTO students (student_id, name, gender, phone_number, email, grade, major, is_deleted)
        VALUES (#{studentId}, #{name}, #{gender}, #{phoneNumber}, #{email}, #{grade}, #{major}, #{isDeleted})
    </insert>

    <update id="updateStudent">
        UPDATE students SET student_id = #{studentId}, name = #{name},
                            gender = #{gender}, phone_number = #{phoneNumber}, email = #{email}, grade = #{grade},
                            major = #{major}, is_deleted = #{isDeleted} WHERE student_id = #{studentId}
    </update>

    <delete id="deleteStudent">
        DELETE FROM students WHERE student_id = #{studentId}
    </delete>

    <select id="getStudentById" resultType="com.scholarship.entity.Student">
        SELECT * FROM students WHERE student_id = #{studentId}
    </select>
    <select id="searchStudents" resultType="com.scholarship.entity.Student">
        SELECT * FROM students
        WHERE 1 = 1
        <if test="searchForm.studentId != null and searchForm.studentId != ''">
            AND student_id = #{searchForm.studentId}
        </if>
        <if test="searchForm.name != null and searchForm.name != ''">
            AND name = #{searchForm.name}
        </if>
        <if test="searchForm.gender != null and searchForm.gender != ''">
            AND gender = #{searchForm.gender}
        </if>
        <if test="searchForm.phoneNumber != null and searchForm.phoneNumber != ''">
            AND phone_number = #{searchForm.phoneNumber}
        </if>
        <if test="searchForm.email != null and searchForm.email != ''">
            AND email = #{searchForm.email}
        </if>
        <if test="searchForm.grade != null and searchForm.grade != ''">
            AND grade = #{searchForm.grade}
        </if>
        <if test="searchForm.major != null and searchForm.major != ''">
            AND major = #{searchForm.major}
        </if>
    </select>
</mapper>
